@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400&display=swap");
:root {
  --dark-blue: #03203c;
  --light-green-n: #39ff14;
  --sky-blue-n: #6dd5ed;
  --red-shade: #b9345a;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #03203c;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
/*  global  */
a {
  color: var(--light-green-n);
  text-decoration: none;
}

/* header */
.hero {
  display: flex;
  justify-content: center;
  /* background-color: black; */
  /* color: red; */
  margin-bottom: 1rem;
  border-radius: 40% 10%;
}
.hero-heading {
  text-align: center;
  color: #6dd5ed;
  font-family: "Courier New", Courier, monospace;
}
.hero-span {
  color: #f7cd2e;
  font-size: 1rem;
}
.hero-logo{
  color: #FF5733;
}
/* animation start */
.bounce-top {
  -webkit-animation: bounce-top 10s 2s infinite both;
  animation: bounce-top 10s 2s infinite both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.text-pop-up-top {
  -webkit-animation: text-pop-up-top 5s ease-out 3s 5 both;
  animation: text-pop-up-top 10s ease-out 3s 5 both;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
/* end animation  */
/* project url  */
.popular-project {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
}
.project_name {
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: bolder;
  font-family: "Montserrat Alternates", sans-serif;
}
.project-bg {
  background-color: #50dbb4;
}
.project-text-bg-one {
  color: var(--dark-blue);
  background-color: #cad5e2;

  padding: 1.2rem;
  border-radius: 1rem;
}
.project-text-bg-two {
  color: var(--dark-blue);
  background-color: #5da3fa;
  background-color: #ff6263;

  padding: 1.2rem;
  border-radius: 1rem;
}
.project-text-bg-three {
  color: var(--dark-blue);
  background-color: #1b98f5;

  padding: 1.2rem;
  border-radius: 1rem;
}
.fontawesome_style {
  margin-left: 1.5rem;
}

/* core  */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  /* max-width: 768px; */
  max-width: 72%;
  margin: auto;
  padding: 1rem;
}

.container-center {
  margin-top: 0rem;
}
/* footer  */

footer {
  display: flex;
  flex-direction: column;

  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f7cd2e;
  font-weight: bolder;
  padding: 0.3rem 0rem;
  overflow: hidden;

  /* background-color: black; */
}
.list-item-inline {
  display: inline;
  margin-right: 2rem;
}
.footer-date-mb {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
@media only screen and (max-width: 655px) {
  footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 1rem !important;
    overflow: hidden;

    width: 100%;
    /* background-color: black; */
  }
  .footer-fontawsome {
    font-size: 1.7rem !important;
  }
}
